<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" href="./img/header-footer/favicon.png" type="image/x-icon"/> -->

    <title>Home</title>
</head>

<body class="w-screen h-full overflow-x-hidden font-Saira-SemiCondensed relative">
    <!-- header trang chủ -->
    <header>
        <div class="w-full bg-white fixed top-0 z-50">
            <div class="relative mx-auto md:max-w-7xl">
                <div class="py-2 px-4 w-full md:px-6 lg:px-2 xl:py-4 2xl:px-0">
                    <nav class="flex items-center justify-between w-full h-full text-header-2 text-secondary-1 font-medium">
                        <div class="logo w-[154px] h-full xl:w-[189px]">
                            <div class="relative w-full h-11 xl:h-[54px]">
                                <a href="./index.html"><img src="../img/header-footer/logo-black.png" alt="Logo"
                                        class="w-full h-full object-contain"></a>
                            </div>
                        </div>
                        <ul class="flex-col absolute w-full bg-white left-0 top-0 hidden opacity-100 z-50 min-h-screen px-4 xl:flex xl:flex-row xl:static xl:w-full xl:gap-8 xl:items-center xl:justify-end xl:min-h-fit xl:p-0">
                            <div class="w-full flex justify-end px-4 pb-6 pt-4 xl:hidden"><div class="close-btn twi-25-close-fill text-2xl text-neutral-1-500"></div></div>
                            <li>
                                <div class="py-2 px-3 flex items-center justify-center">
                                    <a href="./index.html" class="w-full h-full hover:text-primary-1 transition-all ease-out duration-300 xl:text-primary-1">Giới thiệu</a>
                                </div>
                            </li>
                            <li>
                                <div class="py-2 px-3 flex items-center justify-center">
                                    <a href="./service.html" class="w-full h-full hover:text-primary-1 transition-all ease-out duration-300">Dịch vụ</a>
                                </div>
                            </li>
                            <li>
                                <div class="py-2 px-3 flex items-center justify-center">
                                    <a href="./schedule.html" class="w-full h-full hover:text-primary-1 transition-all ease-out duration-300">Lịch học</a>
                                </div>
                            </li>
                            <li>
                                <div class="py-2 px-3 flex items-center justify-center">
                                    <a href="./recruit.html" class="w-full h-full hover:text-primary-1 transition-all ease-out duration-300">Tuyển dụng</a>
                                </div>
                            </li>
                            <li>
                                <div class="py-2 px-3 flex items-center justify-center">
                                    <a href="./blog.html" class="w-full h-full hover:text-primary-1 transition-all ease-out duration-300">Tin Tức</a>
                                </div>
                            </li>
                            <li>
                                <div class="py-2 px-3 xl:p-0">
                                    <div class="register-trail py-[9px] px-[17px] w-fit h-full bg-primary-1 cursor-pointer text-white hover:text-primary-1 hover:bg-white hover:shadow-[0_0_0_1px_#ffffff] hover:shadow-primary-1 group transition-all ease-out duration-300">
                                        Đăng ký tập thử
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="twi-25-menu-fill relative z-20 cursor-pointer 
                            text-neutral-1-900 rounded-lg w-auto h-auto text-2xl 
                            flex items-center justify-center xl:hidden">
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- Popup register -->
        <section>
            <div class="popup-register fixed w-full h-screen bg-black/50 left-0 z-40 hidden transition-all ease-out duration-300 top-0 xl:z-50">
                <div class="w-full h-full flex items-center justify-center px-4">
                    <div class="relative bg-primary-1 text-white max-w-[446px]">
                        <div class="flex flex-col relative z-10">
                            <div class="w-full p-2 pb-1 flex justify-end items-center">
                                <div class="close-popup p-2 bg-white rounded-full cursor-pointer"><div class="twi-25-close-fill text-xl leading-5 text-secondary-1"></div></div>
                            </div>
                            <div class="px-4 pb-[18px] md:px-8 md:pb-[42px]">
                                <div class="mb-4 uppercase text-heading-1 font-semibold w-full text-center">trải nghiệm tập miễn phí</div>
                                <div class="mb-6 uppercase text-body-1 font-normal w-full text-center">ƯU ĐÃI LỚN NHẤT TRONG THÁNG 8, HÃY THAM GIA NGAY</div>
                                <div class="mb-6 mx-auto text-heading-1 font-semibold flex justify-center w-full gap-2">
                                    <span class="flex flex-col items-center w-12"><span class="hours">32</span><span class="uppercase text-body-1 font-normal opacity-60">giờ</span></span> : 
                                    <span class="flex flex-col items-center w-12"><span class="minutes">32</span><span class="uppercase text-body-1 font-normal opacity-60">phút</span></span> : 
                                    <span class="flex flex-col items-center w-12"><span class="seconds">32</span><span class="uppercase text-body-1 font-normal opacity-60">giây</span></span> 
                                </div>
                                <form action="" class="w-full flex flex-col gap-4 popup-register-form">
                                    <input type="text" name="fullname" id="fullname-trail" class="p-3 box-border border border-neutral-2-200 text-body-2 font-normal outline-none placeholder:text-neutral-1-400 text-secondary-1" placeholder="Nhập họ và tên" required>
                                    <input type="tel" name="phone" id="phone-trail" class="p-3 box-border border border-neutral-2-200 text-body-2 font-normal outline-none placeholder:text-neutral-1-400 text-secondary-1" placeholder="Nhập số điện thoại" required>
                                    <div class="w-full mt-2 flex items-center justify-center"><button type="button" class="px-6 py-[9px] text-header-2 font-medium bg-secondary-1 hover:bg-secondary-2 transition-all ease-out duration-300">Đăng ký ngay</button></div>
                                </form>
                            </div>
                        </div>
                        <div class="absolute top-0 left-0">
                            <img src="../img/header-footer/pattern_popup.png" class="w-full h-full">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- subheader -->
        <section>
            <div class="w-full">
                <div class="relative max-w-[1920px] mx-auto mt-[60px] xl:mt-[86px]">
                    <div class="banner-slider w-full relative">
                        <div class="relative pt-[42.86%] w-full min-h-[357px] h-auto">
                            <img data-lazy="../img/header-footer/banner.png" src="../img/header-footer/banner.png" alt="Banner1" loading="lazy" 
                            class="absolute left-0 top-0 w-full h-full object-cover">
                        </div>
                        <div class="relative pt-[42.86%] w-full min-h-[357px] h-auto">
                            <img data-lazy="../img/header-footer/banner.png" src="../img/header-footer/banner-2.png" alt="Banner2" loading="lazy" 
                            class="absolute left-0 top-0 w-full h-full object-cover">
                        </div>
                        <div class="relative pt-[42.86%] w-full min-h-[357px] h-auto">
                            <img data-lazy="../img/header-footer/banner.png" src="../img/home/pt_5.png" alt="Banner3" loading="lazy" 
                            class="absolute left-0 top-0 w-full h-full object-cover">
                        </div>
                    </div>
                    <div class="absolute w-full bottom-[382px] left-0 justify-between hidden xl:flex">
                        <div class="slider-banner-prev bg-secondary-1 p-3 z-10 text-2xl leading-6 text-white twi-25-arrow-left-line"></div>
                        <div class="slider-banner-next bg-secondary-1 p-3 z-10 text-2xl leading-6 text-white twi-25-arrow-right-line"></div>
                    </div>
                </div>
            </div>
            <div class="w-full relative">
                <div class="max-w-[1920px] mx-auto relative pb-12 md:pb-20 xl:pb-[100px]">
                    <div class="mx-auto relative z-10 xl:max-w-7xl">
                        <div class="relative h-full px-4 flex flex-col gap-[157px] md:gap-[192px] md:px-6 lg:px-2 2xl:px-0 xl:flex-row xl:gap-[109px]">
                            <div class="w-full flex justify-end pt-[34px] md:pt-[84px] xl:pb-[106px] xl:pt-[11px] xl:w-fit">
                                <div class="py-8 bg-secondary-1 max-w-[545px] px-6 md:w-[545px]">
                                    <div class="mx-auto flex flex-col gap-12 text-white md:w-[409px]">
                                        <div class="text-heading-2 font-semibold text-center w-full">
                                            VÌ SAO BẠN NÊN TẬP LUYỆN TẠI <span class="text-primary-1">SEVENTH FITNESS</span>
                                        </div>
                                        <div class="w-full flex flex-col gap-y-12">
                                            <div class="flex justify-between w-full">
                                                <div class="w-[147px]">
                                                    <div class="w-full text-heading-1 font-semibold text-center">6+</div>
                                                    <div class="w-full border-b-4 border-primary-1 mt-1.5 mb-[14px]"></div>
                                                    <div class="w-full text-header-2 font-medium text-center">Câu lạc bộ</div>
                                                </div>
                                                <div class="w-[147px]">
                                                    <div class="w-full text-heading-1 font-semibold text-center">2,000+</div>
                                                    <div class="w-full border-b-4 border-primary-1 mt-1.5 mb-[14px]"></div>
                                                    <div class="w-full text-header-2 font-medium text-center">Hội viên</div>
                                                </div>
                                            </div>
                                            <div class="flex justify-between w-full">
                                                <div class="w-[147px]">
                                                    <div class="w-full text-heading-1 font-semibold text-center">40+</div>
                                                    <div class="w-full border-b-4 border-primary-1 mt-1.5 mb-[14px]"></div>
                                                    <div class="w-full text-header-2 font-medium text-center">Bộ môn</div>
                                                </div>
                                                <div class="w-[147px]">
                                                    <div class="w-full text-heading-1 font-semibold text-center">20</div>
                                                    <div class="w-full border-b-4 border-primary-1 mt-1.5 mb-[14px]"></div>
                                                    <div class="w-full text-header-2 font-medium text-center">Huấn luyện viên</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="relative w-full h-full flex items-end xl:h-[577px]">
                                <div class="relative w-full flex items-center justify-center">
                                    <div class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-20 flex items-center justify-center">
                                        <div class="w-20 h-20 bg-primary-1 bg-opacity-[26%] flex items-center justify-center rounded-full top-0 left-0 border-[24px] border-opacity-[26%] border-primary-1">
                                            <div class="w-[56px] h-[56px] bg-primary-1 flex items-center justify-center rounded-full top-0 left-0 border-[24px] border-opacity-[26%] border-primary-1">
                                                <div class="twi-25-play-fill text-[32px] leading-8 text-white"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="relative pt-[67.83%] w-full h-full flex items-center justify-center -z-10">
                                        <img src="../img/home/video.png" alt="Video" loading="lazy" class="absolute lelf-0 top-0 w-full h-full object-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute w-full left-0 -top-[23px] pr-10 h-[674px] md:pr-12 md:-top-6 xl:-top-[97px]">
                        <div class="h-full">
                            <img src="../img/home/seventh_fitness.png" alt="Under Text" loading="lazy"
                            class="h-full w-auto object-cover">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service -->
        <section>
            <div class="w-full relative h-auto">
                <div class="relative z-10 w-full bg-white/95">
                    <div class="xl:max-w-7xl mx-auto">
                        <div class="py-12 px-4 flex flex-col gap-12 md:px-6 lg:px-2 2xl:px-0 xl:py-20">
                            <div class="w-full flex flex-col items-center justify-center gap-4 text-center">
                                <div class="text-heading-2 font-semibold w-full uppercase">CÁC DỊCH VỤ TẠI <span class="text-primary-1">SEVENTH FITNESS</span></div>
                                <div class="text-body-1 text-neutral-1-700 font-normal w-full md:w-[628px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sollicitudin lobortis elit nunc. Sed pharetra mattis ipsum tincidunt. Vehicula enim, at dui aliquam pulvinar.</div>
                            </div>
                            <div class="w-full px-0.5 md:px-0">
                                <div class="w-full grid grid-cols-1 gap-6 text-white font-semibold text-heading-2 md:grid-cols-2 md:gap-x-8 xl:gap-6 xl:grid-cols-3">
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">BOXING</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/boxing1.png" alt="Boxing" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">GYM</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/gym.png" alt="Gym" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">PERSONAL TRAINER</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/personal_trainer.png" alt="Personal Trainer" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">YOGA</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/yoga.png" alt="Yoga" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">GROUP X</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/group_x.png" alt="Group X" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="relative aspect-img-service">
                                        <a href="#">
                                            <div class="relative z-10 w-full h-full bg-black/40 flex flex-col items-center justify-center gap-2">
                                                <div class="uppercase">BOXING</div>
                                                <div class="w-12 h-1 bg-primary-1"></div>
                                            </div>
                                            <div class="absolute inset-0">
                                                <img src="../img/home/boxing2.png" alt="Boxing" class="object-cover object-center h-full w-full">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute left-0 top-0 w-full h-full">
                    <img src="../img/home/black_white_gym.png" alt="Background1" class="w-full h-full object-cover">
                </div>
            </div>
        </section>
        <!-- subscription -->
        <section>
            <div class="w-full relative h-auto">
                <div class="relative z-10 w-full bg-subscription">
                    <div class="xl:max-w-7xl mx-auto">
                        <div class="py-12 flex flex-col gap-[54px] px-4 text-white md:px-6 md:gap-12 lg:px-2 xl:gap-[54px] xl:py-20 2xl:px-0">
                            <div class="text-heading-2 w-full text-center font-semibold uppercase">
                                <span class="text-primary-1">6+</span> gói luyện tập không giới hạn
                            </div>
                            <div class="w-full flex flex-wrap items-center justify-center gap-6 xl:gap-[102px]">
                                <div class="flex flex-col gap-8 py-8 group hover:bg-primary-1 transition-all duration-300 ease-out">
                                    <div class="font-semibold text-center">
                                        <div class="text-heading-4 mb-4">6 Tháng</div>
                                        <div class="text-heading-2 text-primary-1 group-hover:text-white transition-all ease-out duration-300">11,025,000 VNĐ</div>
                                        <div class="text-body-1 opacity-40 font-normal">787,000 VNĐ / 1 tháng</div>
                                    </div>
                                    <div class="text-body-1 font-normal text-center max-w-[286px]">Rhoncus, est lectus malesuada et. Adipiscing praesent sit amet, quam dignissim a interdum enim.</div>
                                    <div class="text-center w-full"><button type="button" class="register-trail bg-primary-1 py-[9px] px-[17px] w-[152px] text-header-2 group-hover:shadow-[0_0_0_1px_#ffffff] font-medium transition-all ease-out duration-300">Đăng ký</button></div>
                                </div>
                                <div class="flex flex-col gap-8 py-8 group hover:bg-primary-1 transition-all duration-300 ease-out">
                                    <div class="font-semibold text-center">
                                        <div class="text-heading-4 mb-4">12 Tháng</div>
                                        <div class="text-heading-2 text-primary-1 group-hover:text-white transition-all ease-out duration-300">11,025,000 VNĐ</div>
                                        <div class="text-body-1 opacity-40 font-normal">787,000 VNĐ / 1 tháng</div>
                                    </div>
                                    <div class="text-body-1 font-normal text-center max-w-[286px]">Rhoncus, est lectus malesuada et. Adipiscing praesent sit amet, quam dignissim a interdum enim.</div>
                                    <div class="text-center w-full"><button type="button" class="register-trail bg-primary-1 py-[9px] px-[17px] w-[152px] text-header-2 group-hover:shadow-[0_0_0_1px_#ffffff] font-medium transition-all ease-out duration-300">Đăng ký</button></div>
                                </div>
                                <div class="flex flex-col gap-8 py-8 group hover:bg-primary-1 transition-all duration-300 ease-out">
                                    <div class="font-semibold text-center">
                                        <div class="text-heading-4 mb-4">18 Tháng</div>
                                        <div class="text-heading-2 text-primary-1 group-hover:text-white transition-all ease-out duration-300">11,025,000 VNĐ</div>
                                        <div class="text-body-1 opacity-40 font-normal">787,000 VNĐ / 1 tháng</div>
                                    </div>
                                    <div class="text-body-1 font-normal text-center max-w-[286px]">Rhoncus, est lectus malesuada et. Adipiscing praesent sit amet, quam dignissim a interdum enim.</div>
                                    <div class="text-center w-full"><button type="button" class="register-trail bg-primary-1 py-[9px] px-[17px] w-[152px] text-header-2 group-hover:shadow-[0_0_0_1px_#ffffff] font-medium transition-all ease-out duration-300">Đăng ký</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute left-0 top-0 w-full h-full">
                    <img src="../img/home/blue_gym.png" alt="Background2" class="w-full h-full object-cover object-center">
                </div>
            </div>
        </section>
        <!-- PT -->
        <section>
            <div class="w-full relative h-auto">
                <div class="relative mx-auto xl:max-w-7xl">
                    <div class="py-12 flex flex-col gap-12 px-4 md:px-6 lg:px-2 xl:py-20 2xl:px-0">
                        <div class="w-full flex flex-col items-center justify-center gap-4 text-center">
                            <div class="text-heading-2 font-semibold w-full uppercase"><span class="text-primary-1">huấn luyện viên</span> chuyên nghiệp</div>
                            <div class="text-body-1 text-neutral-1-700 font-normal w-full md:w-[628px]">Tại <span class="font-semibold text-title-1">Seventh Fitness</span> chúng tôi tập hợp những Huấn Luyện Viên có kinh nghiệm và bằng cấp
                                quốc tế sẽ mang lại sự hiệu quả cho các học viên</div>
                        </div>
                        <div class="relative w-full">
                            <button class="slider-pt-prev absolute -left-2 -translate-y-1/2 w-10 h-10 bg-secondary-1 p-2 z-10 top-1/2 md:p-3 md:w-12 md:h-12 xl:-left-6"><div class="text-2xl leading-6 text-white twi-25-arrow-left-line"></div></button>
                            <button class="slider-pt-next absolute -right-2 -translate-y-1/2 w-10 h-10 bg-secondary-1 p-2 z-20 top-1/2 md:p-3 md:w-12 md:h-12 xl:-right-6"><div class="text-2xl leading-6 text-white twi-25-arrow-right-line"></div></button>
                            <div class="slider-pt text-white relative w-full">
                                <div class="relative">
                                    <img data-lazy="../img/home/pt_1.png" src="../img/home/pt_1.png" alt="PT" class="relative w-full aspect-pt-mobile md:w-[377px] xl:w-[302px] h-full object-cover object-center">
                                    <div class="absolute right-0 bottom-0 px-4 py-2 flex flex-col gap-0.5 bg-primary-1">
                                        <div class="font-normal text-body-1">Huấn Luyện Viên</div>
                                        <div class="font-medium text-header-2">Nguyễn Trường Giang</div>
                                    </div>
                                </div>
                                <div class="relative">
                                    <img data-lazy="../img/home/pt_1.png" src="../img/home/pt_2.png" alt="PT" class="relative w-full aspect-pt-mobile md:w-[377px] xl:w-[302px] h-full object-cover object-center">
                                    <div class="absolute right-0 bottom-0 px-4 py-2 flex flex-col gap-0.5 bg-primary-1">
                                        <div class="font-normal text-body-1">Huấn Luyện Viên</div>
                                        <div class="font-medium text-header-2">Nguyễn Trường Giang</div>
                                    </div>
                                </div>
                                <div class="relative">
                                    <img data-lazy="../img/home/pt_1.png" src="../img/home/pt_3.png" alt="PT" class="relative w-full aspect-pt-mobile md:w-[377px] xl:w-[302px] h-full object-cover object-center">
                                    <div class="absolute right-0 bottom-0 px-4 py-2 flex flex-col gap-0.5 bg-primary-1">
                                        <div class="font-normal text-body-1">Huấn Luyện Viên</div>
                                        <div class="font-medium text-header-2">Nguyễn Trường Giang</div>
                                    </div>
                                </div>
                                <div class="relative">
                                    <img data-lazy="../img/home/pt_1.png" src="../img/home/pt_4.png" alt="PT" class="relative w-full aspect-pt-mobile md:w-[377px] xl:w-[302px] h-full object-cover object-center">
                                    <div class="absolute right-0 bottom-0 px-4 py-2 flex flex-col gap-0.5 bg-primary-1">
                                        <div class="font-normal text-body-1">Huấn Luyện Viên</div>
                                        <div class="font-medium text-header-2">Nguyễn Trường Giang</div>
                                    </div>
                                </div>
                                <div class="relative">
                                    <img data-lazy="../img/home/pt_1.png" src="../img/home/pt_5.png" alt="PT" class="relative w-full aspect-pt-mobile md:w-[377px] xl:w-[302px] h-full object-cover object-center">
                                    <div class="absolute right-0 bottom-0 px-4 py-2 flex flex-col gap-0.5 bg-primary-1">
                                        <div class="font-normal text-body-1">Huấn Luyện Viên</div>
                                        <div class="font-medium text-header-2">Nguyễn Trường Giang</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- bg quot -->
        <section>
            <div class="w-full relative h-auto">
                <div class="relative z-20 w-full bg-quot">
                    <div class="xl:max-w-7xl mx-auto">
                        <div class="py-12 flex text-white xl:py-20">
                            <div class="relative w-full">
                                <button class="slider-quot-prev absolute left-0 top-1/2 -translate-y-1/2 z-10 hidden xl:block"><div class="text-[32px] leading-8 text-white twi-25-arrow-left-line"></div></button>
                                <button class="slider-quot-next absolute right-0 top-1/2 -translate-y-1/2 z-20 hidden xl:block"><div class="text-[32px] leading-8 text-white twi-25-arrow-right-line"></div></button>
                                <ul class="slider-quot text-white">
                                    <li>
                                        <div class="w-full flex flex-col items-center px-4 md:px-8">
                                            <div class="text-[100px] font-semibold leading-[114px]">“</div>
                                            <div class="text-body-1 font-normal text-center mt-2 mb-14 xl:w-[846px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna consequat, blandit accumsan purus eros. Quis faucibus vitae in eget arcu suspendisse. Malesuada a nunc pulvinar elementum. Habitant arcu vestibulum non vel. Tincidunt id commodo commodo purus, libero nunc mi.</div>
                                            <img data-lazy="../img/home/boxing1.png" src="../img/home/boxing1.png" alt="PT" class="w-14 h-14 object-cover object-center rounded-full">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w-full flex flex-col items-center px-4 md:px-8">
                                            <div class="text-[100px] font-semibold leading-[114px]">“</div>
                                            <div class="text-body-1 font-normal text-center mt-2 mb-14 xl:w-[846px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna consequat, blandit accumsan purus eros. Quis faucibus vitae in eget arcu suspendisse. Malesuada a nunc pulvinar elementum. Habitant arcu vestibulum non vel. Tincidunt id commodo commodo purus, libero nunc mi.</div>
                                            <img data-lazy="../img/home/boxing1.png" src="../img/home/pt_1.png" alt="PT" class="w-14 h-14 object-cover object-center rounded-full">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w-full flex flex-col items-center px-4 md:px-8">
                                            <div class="text-[100px] font-semibold leading-[114px]">“</div>
                                            <div class="text-body-1 font-normal text-center mt-2 mb-14 xl:w-[846px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna consequat, blandit accumsan purus eros. Quis faucibus vitae in eget arcu suspendisse. Malesuada a nunc pulvinar elementum. Habitant arcu vestibulum non vel. Tincidunt id commodo commodo purus, libero nunc mi.</div>
                                            <img data-lazy="../img/home/boxing1.png" src="../img/home/boxing2.png" alt="PT" class="w-14 h-14 object-cover object-center rounded-full">
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute left-0 top-0 w-full h-full">
                    <img src="../img/home/pt_5.png" alt="Background3" class="w-full h-full object-cover object-center">
                </div>
            </div>
        </section>
        <!-- form đăng ký tư vấn-->
        <section>
            <div class="w-full relative h-auto">
                <div class="relative z-10 w-full bg-white/95">
                    <div class="xl:max-w-7xl mx-auto">
                        <div class="py-12 px-4 flex flex-col gap-8 items-center justify-center md:flex-row md:px-6 lg:px-2 xl:py-[140px] xl:items-start xl:gap-[218px] 2xl:px-0">
                            <div class="w-full flex flex-col items-center justify-center gap-4 xl:max-w-[543px]">
                                <div class="text-heading-2 font-semibold w-full uppercase">trải nghiệm tập <span class="text-primary-1">07 ngày miễn phí</span> tại các cơ sở seventh fitness</div>
                                <div class="text-body-1 text-neutral-1-700 font-normal w-full">Hãy thử điều gì đó mới mẻ trong năm nay bằng cách tham gia thế giới trải nghiệm thú vị và vui nhộn từ chúng tôi. Chúng tôi cung cấp DÙNG THỬ MIỄN PHÍ 7 ngày cho tất cả khách mới. Để lại thông tin của bạn bên cạnh và chúng tôi sẽ liên hệ với bạn trong 24 giờ tới.</div>
                            </div>
                            <div class="w-full text-body-1 text-neutral-1-700 font-normal xl:max-w-[519px]">
                                <form action="" class="w-full flex flex-col gap-6">
                                    <div class="relative py-4 border-b border-secondary-1 w-full">
                                        <input type="text" name="username" id="username" placeholder="Họ tên*" required class="w-full bg-transparent outline-none peer">
                                        <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary-1 transition-all duration-500 ease-in-out peer-focus:w-full"></span>
                                    </div>
                                    <div class="relative py-4 border-b border-secondary-1 w-full">
                                        <input type="tel" name="phone" id="phone" placeholder="Số điện thoại*" required class="w-full bg-transparent outline-none peer">
                                        <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary-1 transition-all duration-500 ease-in-out peer-focus:w-full"></span>
                                    </div>
                                    <div class="relative py-4 border-b border-secondary-1 w-full">
                                        <input type="email" name="email" id="email" placeholder="Email" class="w-full bg-transparent outline-none peer">
                                        <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary-1 transition-all duration-500 ease-in-out peer-focus:w-full"></span>
                                    </div>
                                    <div class="pt-6">
                                        <button type="button" class="py-[9px] px-[17px] bg-primary-1 text-white text-header-2 font-medium hover:text-primary-1 hover:bg-transparent hover:shadow-[0_0_0_1px_#ffffff] hover:shadow-primary-1 transition-all ease-out duration-300">Đăng ký tư vấn</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute left-0 top-0 w-full h-full">
                    <img src="../img/home/black_white_gym.png" alt="Background1" class="w-full h-full object-cover">
                </div>
            </div>
        </section>
        <!-- tin tức và sự kiện -->
        <section>
            <div class="w-full relative h-auto">
                <div class="xl:max-w-7xl mx-auto">
                    <div class="py-12 px-4 flex flex-col gap-12 items-center text-secondary-1 md:px-6 lg:px-2 xl:py-20 2xl:px-0">
                        <div class="w-full flex flex-col items-center justify-center gap-4 text-center">
                            <div class="text-heading-2 font-semibold w-full uppercase">tin tức và sự kiện</div>
                            <div class="text-body-1 text-neutral-1-700 font-normal w-full max-w-[628px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sollicitudin lobortis elit nunc. Sed pharetra mattis ipsum tincidunt. Vehicula enim, at dui aliquam pulvinar.</div>
                        </div>
                        <div class="w-full grid grid-cols-1 gap-12 md:grid-cols-3 md:gap-8 xl:gap-6">
                            <div class="w-full flex flex-col gap-4">
                                <div class="w-full h-auto aspect-thumbnail">
                                    <img src="../img/home/black_white_gym.png" alt="" class="object-contain w-full h-full">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="text-header-1 font-semibold h-7 md:h-14 xl:h-7"><div class="line-clamp-1 md:line-clamp-2 xl:line-clamp-1">Khuyến mãi tháng 7 chỉ có tại Seventh Fitness</div></div>
                                    <div class="text-body-1 font-normal text-neutral-1-700 h-12 md:h-24 xl:h-12"><div class="line-clamp-2 md:line-clamp-4 xl:line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie sed tincidunt nisi, viverra erat pellentesque vitae.</div></div>
                                </div>
                                <div>
                                    <button class="py-2 px-3 w-[132px] flex items-center justify-center border border-secondary-1 font-medium hover:bg-primary-1 hover:text-white hover:border-white focus:bg-primary-1 focus:text-white focus:border-white text-header-2 transition-all ease-out duration-300"><a href="./detail.html">Xem thêm</a></button>
                                </div>
                            </div>
                            <div class="w-full flex flex-col gap-4">
                                <div class="w-full h-auto aspect-thumbnail">
                                    <img src="../img/home/brown_gym.png" alt="" class="object-contain w-full h-full">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="text-header-1 font-semibold h-7 md:h-14 xl:h-7"><div class="line-clamp-1 md:line-clamp-2 xl:line-clamp-1">Khuyến mãi tháng 7 chỉ có tại Seventh Fitness</div></div>
                                    <div class="text-body-1 font-normal text-neutral-1-700 h-12 md:h-24 xl:h-12"><div class="line-clamp-2 md:line-clamp-4 xl:line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie sed tincidunt nisi, viverra erat pellentesque vitae.</div></div>
                                </div>
                                <div>
                                    <button class="py-2 px-3 w-[132px] flex items-center justify-center border border-secondary-1 font-medium hover:bg-primary-1 hover:text-white hover:border-white focus:bg-primary-1 focus:text-white focus:border-white text-header-2 transition-all ease-out duration-300"><a href="./detail.html">Xem thêm</a></button>
                                </div>
                            </div>
                            <div class="w-full flex flex-col gap-4">
                                <div class="w-full h-auto aspect-thumbnail">
                                    <img src="../img/home/stay_hydrate.png" alt="" class="object-contain w-full h-full">
                                </div>
                                <div class="flex flex-col gap-2">
                                    <div class="text-header-1 font-semibold h-7 md:h-14 xl:h-7"><div class="line-clamp-1 md:line-clamp-2 xl:line-clamp-1">Khuyến mãi tháng 7 chỉ có tại Seventh Fitness</div></div>
                                    <div class="text-body-1 font-normal text-neutral-1-700 h-12 md:h-24 xl:h-12"><div class="line-clamp-2 md:line-clamp-4 xl:line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie sed tincidunt nisi, viverra erat pellentesque vitae.</div></div>
                                </div>
                                <div>
                                    <button class="py-2 px-3 w-[132px] flex items-center justify-center border border-secondary-1 font-medium hover:bg-primary-1 hover:text-white hover:border-white focus:bg-primary-1 focus:text-white focus:border-white text-header-2 transition-all ease-out duration-300"><a href="./detail.html">Xem thêm</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer -->
    <footer>
        <div class="w-full relative h-auto">
            <div class="slider-footer max-w-[1920px] mx-auto overflow-x-hidden flex flex-nowrap">
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_1.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_2.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_3.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_4.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_5.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_6.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_7.png" alt="Image" class="h-full object-cover object-center"></div>
                <div class=" max-h-[138px] md:max-h-[166.8px] xl:max-h-60 aspect-square"><img src="../img/header-footer/upper_footer_8.png" alt="Image" class="h-full object-cover object-center"></div>
            </div>
        </div>
        <div class="w-full relative h-auto bg-secondary-1">
            <div class="xl:max-w-7xl mx-auto">
                <div class="py-12 px-4 flex flex-col gap-14 items-center text-white font-normal md:px-6 lg:px-2 2xl:px-0">
                    <div class="w-full flex flex-col gap-8 items-start lg:justify-between lg:grid lg:grid-cols-3">
                        <div class="w-[239px] h-[68px]"><a href="./index.html"><img src="../img/header-footer/logo-white.png" alt="" class="w-full h-full object-contain"></a></div>
                        <div class="w-full flex flex-col gap-16 md:flex-row md:gap-[50px] md:items-start md:justify-between lg:col-span-2">
                            <div class="text-body-1 font-normal flex flex-col gap-4">
                                <div class="uppercase text-header-1 font-semibold w-full pb-2">công ty tnhh seventh fitness</div>
                                <div class="flex items-center gap-4"><span class="text-primary-1 w-6 h-6 text-2xl leading-6 twi-25-home-fill"></span><span>12 CN1, P.Sơn Kỳ, Q.Tân Phú, TP. HCM</span></div>
                                <div class="flex items-center gap-4"><span class="text-primary-1 w-6 h-6 text-2xl leading-6 twi-25-call-fill"></span><span>032 2323 568</span></div>
                                <div class="flex items-center gap-4"><span class="text-primary-1 w-6 h-6 text-2xl leading-6 twi-25-email-fill"></span><span>contact@seventhfit.vn</span></div>
                                <div class="flex items-center gap-4"><span class="text-primary-1 w-6 h-6 text-2xl leading-6 twi-25-language-line"></span><span>www.seventhfit.vn</span></div>
                                <div class="flex items-center gap-4"><span class="text-primary-1 w-6 h-6 text-2xl leading-6 twi-25-clock-line"></span><span>Giờ làm việc: 6h00-22h00</span></div>
                            </div>
                            <div class="w-full flex flex-col gap-6 md:max-w-[368px]">
                                <div class="uppercase text-header-1 font-semibold w-full text-left">fanpage facebook</div>
                                <div class="w-full aspect-fanpage relative">
                                    <img src="../img/header-footer/fanpage.png" alt="Fanpage" class="w-full h-full object-cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full pt-8 border-t border-white/30"><div class="text-body-1 w-full text-center">Copyright 2022 SEVENTH FITNESS. All rights reserved.</div></div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>